html {
  box-sizing: border-box;
}
/* ボディ */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  background-color: #F8EDE3;
  width: 100vw;
  min-height: 100vh;
}
/* ヘッダー */
.navbar {
  background-color: #BDD2B6;
  position: relative;
}

.navbar h1 {
  font-size: 24px;
  color: #798777;
  font-weight: bold;
}

.gallery-button { 
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 4px solid #ffffff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  right: 30%;
  height: 100%;
  width: 130px;
  position: absolute;
  line-height: 50px;
}

.gallery-button:hover {
  color: #798777;
  border-bottom-color: #798777;
}
/* メイン */
main {
  background-color: #ffffff;
}

.explanation {
  background-color: #BDD2B6;
  width: 85%;
  margin: 25px auto;
  border-radius: 75px;
  padding: 20px 40px 20px 40px;
}

.explanation > h2 {
  color: #4d4d4d;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px;
  position: relative;
  left: 30px;
}

.explanation > p {
  color: #4d4d4d;
  font-size: 14px;
  margin-left: 30px;
  line-height: 2;
  position: relative;
  left: 30px;
}

.discriminator {
  background-color: #F8EDE3;
  width: 73%;
  margin: 10px auto 25px;
  border-radius: 40px;
}

.discriminator > h3 {
  font-size: 20px;
  color: #798777;
  padding-top: 10px;
}

.img {
  height: 435px;
  width: 435px;
}

.discriminator > p {
  color: #4d4d4d;
  margin-top: 10px;
  font-size: 12px;
}

.form {
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #BDD2B6;
  border: thin;
  width: 30%;
}

.form:hover {
  color: #798777;
}

.button {
  color: #ffffff;
  background-color: #BDD2B6;
  border-radius: 10px;
  border-width: thin;
  width: 40%;
}

.button:hover {
  color: #798777;
}

.discriminator p:nth-of-type(2) {
  color: #4d4d4d; 
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

.result > strong {
  margin: 0 8px;
  color: #798777;
}

/* フッター */
footer {
  background-color: #BDD2B6;
  height: 80px;
}

.address {
  color: #4d4d4d;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  top: 12px;
  font-size: 10px;
}

.address > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
}

.address > a:hover {
  color: #798777;
}

.copyright {
  color: #4d4d4d;
  font-size: 12px;
}
